@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .dataContainer {
    margin: 0 auto;
    width: 80%;
    background-color: #fff;
    padding: 20px;
    height: 300px;
  }
  .timeBox {
    display: flex;
    font-weight: bold;
    font-size: 20px;
  }
  .iconBox {
    width: 100px;
    height: 100px;
  }
}